<div class="container">
  <style>
  div.logo {
    max-width: 45em;
  }
  div.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px
  }
  ul.buildlist li {
    margin: 1em;
  }
  details.buildlist {
    max-width: 45em;
    border: 1px solid black;
  }
  details.buildlist summary {
    padding: 1em;
    background-color: khaki;
  }
  </style>
  <div class="logo">
    <img src="{{url_for('static', filename='octave.space.png')}}"
         alt="Buildbot Octave">
  </div>
  <h3>Recent GNU Octave builds</h3>

  {% for build in builds %}
  <details class="buildlist"{% if loop.index == 1 %} open{% endif %}>
    <summary>
      Octave <b>{{build.version}}</b>
      &nbsp;&nbsp;
      (hg id: <a target="_blank" href="{{config.repo_change_url}}/{{build.id}}">{{build.id}}</a>)
      &nbsp;&nbsp;
      {{build.date}}
    </summary>
    {%- macro do_final_list(files) -%}
    {% for key, values in files|dictsort %}
      {% for value in values %}
      {% if key == 'html' %}
        {% set value = value + '/' %}
      {% endif %}
        <a target="_blank" href="{{config.data_url}}/{{build.id}}/{{value}}">[{{key}}]</a>
      {% endfor %}
    {% endfor %}
    {%- endmacro %}
    {%- macro do_list(files) -%}
    <ul class="buildlist">
      {% for key, value in files|dictsort %}
      <li>
        <b>{{key}}</b>
        {% if key == 'octave-mxe' %}
          {{ do_list(value) }}
        {% elif key == 'unknown' %}
          {{ value }}
        {% else %}
          {{ do_final_list(value) }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {%- endmacro %}
    {{ do_list(build.files) }}
    <ul class="buildlist">
      <li>
        <a target="_blank" href="{{config.data_url}}/{{build.id}}/">[List of all files]</a>
      </li>
    </ul>
  </details>
  {% endfor %}

  <br><br>

  <p><b>Info:</b></p>
  <ul>
    <li>
      hg id:
      <a href="https://www.mercurial-scm.org/wiki/ChangeSetID">Mercurial (hg) changeset</a>
      identification at
      <a href="{{config.repo_url}}">{{config.repo_url}}</a>.
    </li>
  </ul>
</div>
